body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.word{
    font-size: 4em;
}

#game_letters{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    font-size: 1.8em;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}